<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">
  <div class="content-page">
    <div class="card-header">
      <div class="card-title">
        Cadastro de Despesas
      </div>
    </div>
    <form class="form-page" [formGroup]="expenditureForm" (submit)="send()">
      <div class="row">
        <div class="group-row">
          <label>Nome</label>
          <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />
          <label class="error-input" *ngIf="expenditureForm.get('name')?.errors?.['required'] &&
                    expenditureForm.get('name')?.touched">
            Required Field!
          </label>
        </div>
      </div>
      <div class="row">
        <div class="group-row">
          <label>Paid</label>
          <input type="number" name="paid" id="paid" placeholder="paid" formControlName="paid" required />
          <label class="error-input" *ngIf="expenditureForm.get('paid')?.errors?.['required'] &&
                    expenditureForm.get('paid')?.touched">
            Required Field!
          </label>
        </div>
      </div>
      <div class="row">
        <div class="group-row">
          <label>Due Date</label>
          <input type="date" name="dueDate" id="dueDate" placeholder="dueDate" formControlName="dueDate" required />
          <label class="error-input" *ngIf="expenditureForm.get('dueDate')?.errors?.['required'] &&
                    expenditureForm.get('dueDate')?.touched">
            Required Field!
          </label>
        </div>
      </div>
      <div class="row">
        <div class="group-row">
          <label>Category</label>
          <ng-select class="select-standard" formControlName="selectCategory" [(ngModel)]="selectCategory"
            [items]="categoryList" bindLabel="name" [multiple]="false" [clearable]="false"
            [searchable]="false"></ng-select>
        </div>
      </div>
      <div class="row">
        <div class="group-row">
          <mat-slide-toggle class="group-slide" [color]="color" [checked]="checked" [disabled]="disabled"
            (change)="handleChangePago($event)">
            Paid?
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="group-row">
          <input type="submit" value="Salvar" class="btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
